name: Publish NuGet (nuget.org)

on:
  workflow_run:
    workflows: ["Release (tag)"]
    types: [completed]

permissions: {}

jobs:
  publish-nuget-org:
    runs-on: ubuntu-latest

    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    permissions:
      contents: read

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "10.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build (Release)
        run: dotnet build -c Release --no-restore

      - name: Pack (src only, version from tag)
        shell: bash
        env:
          NUGET_ID_PREFIX: ${{ vars.NUGET_ID_PREFIX }}
          HEAD_SHA: ${{ github.event.workflow_run.head_sha }}
        run: |
          echo "Workflow head sha: $HEAD_SHA"

          # Tag that points to the commit produced by semantic-release
          TAG="$(git tag --points-at "$HEAD_SHA" | head -n 1)"
          
          # if commit does not have tag -> exit with error
          if [ -z "$TAG" ]; then
            echo "No tag points to $HEAD_SHA. Available tags:"
            git tag --sort=-creatordate | head -n 20
            exit 1
          fi
             
          VERSION="${TAG#v}"         
          echo "Packing version: $VERSION"
          echo "Using PackageId prefix: ${NUGET_ID_PREFIX}"

          rm -rf artifacts
          mkdir -p artifacts

          # packing all projects from src/
          while IFS= read -r -d '' CSPROJ; do

            echo "Packing: $CSPROJ"

            dotnet pack "$CSPROJ" -c Release --no-restore \
              -p:PackageIdPrefix="$NUGET_ID_PREFIX" \
              -p:PackageVersion="$VERSION" \
              -p:Version="$VERSION" \
              -o artifacts
              
          done < <(find src -name '*.csproj' -print0)

      # Retrieve temp NuGet API key
      - name: NuGet login
        id: nuget_login
        uses: NuGet/login@v1
        with:
          user: ${{ vars.NUGET_USERNAME }}

      - name: Push packages (.nupkg) from artifacts
        shell: bash
        run: |
          dotnet nuget push "artifacts/*.nupkg" \
            --source "https://api.nuget.org/v3/index.json" \
            --api-key "${{ steps.nuget_login.outputs.NUGET_API_KEY }}" \
            --skip-duplicate

      - name: Push symbols (.snupkg) from artifacts
        shell: bash
        run: |
          dotnet nuget push "artifacts/*.snupkg" \
            --source "https://api.nuget.org/v3/index.json" \
            --api-key "${{ steps.nuget_login.outputs.NUGET_API_KEY }}" \
            --skip-duplicate